@model DisplayGameViewModel
@inject IViewLocalizer Localizer

<div class="game-container">
    <a asp-action="GetGameAsync" asp-route-key="@Model.Key" class="button-transparent">
        <div class="image-container">
            <img src="@Model.Images.First().Content" alt="game-image">
        </div>
        <h3 class="game-header">@Model.Name</h3>
        <h4 class="platform">@string.Join(", ", Model.Platforms)</h4>
        <h4 class="game-price">@Model.Price.ToString(FormatTemplates.CurrencyFormat)</h4>
    </a>
</div>