@model GameViewModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["Title"];
}

<form asp-action="UpdateAsync" method="post">
    <input type="hidden" asp-for="ModifyGameViewModel.Id">
    <input type="hidden" asp-for="ModifyGameViewModel.DetailsId">
    <input type="hidden" asp-for="ModifyGameViewModel.LocalizationId">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label class="font-weight-bold" asp-for="ModifyGameViewModel.Key">@Localizer["Key"]</label>
        <input asp-for="ModifyGameViewModel.Key" class="form-control">
        <span asp-validation-for="ModifyGameViewModel.Key"></span>
    </div>
    <div class="form-group">
        <label class="font-weight-bold" asp-for="ModifyGameViewModel.UnitsInStock">
            @Localizer["UnitsInStock"]
            <small>@Localizer["UnitsInStockMessage"]</small>
        </label>
        <input asp-for="ModifyGameViewModel.UnitsInStock" class="form-control">
        <span asp-validation-for="ModifyGameViewModel.UnitsInStock"></span>
    </div>
    <div class="form-group">
        <label class="font-weight-bold" asp-for="ModifyGameViewModel.Price">@Localizer["Price"]</label>
        <input asp-for="ModifyGameViewModel.Price" class="form-control">
        <span asp-validation-for="ModifyGameViewModel.Price"></span>
    </div>
    <div class="form-group">
        <label class="font-weight-bold" asp-for="ModifyGameViewModel.Discount">@Localizer["Discount"]</label>
        <input asp-for="ModifyGameViewModel.Discount" class="form-control">
        <span asp-validation-for="ModifyGameViewModel.Discount"></span>
    </div>
    <div class="form-group">
        <label class="font-weight-bold" asp-for="ModifyGameViewModel.UnitsOnOrder">@Localizer["UnitsOnOrder"]</label>
        <input asp-for="ModifyGameViewModel.UnitsOnOrder" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="ModifyGameViewModel.PublisherEntityId" class="font-weight-bold">@Localizer["Publishers"]</label>
        <select class="form-control" asp-for="ModifyGameViewModel.PublisherEntityId"
                asp-items="@(new SelectList(Model.GameSelectionDataViewModel.Publishers,
                               nameof(PublisherViewModel.Id), nameof(PublisherViewModel.CompanyName)))">
            <option value="@string.Empty">@Localizer["None"]</option>
        </select>
    </div>

    <h4 class="m-3">@Localizer["Enter here localizable details"]</h4>

    <nav>
        <div class="nav nav-tabs" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#english-localization" role="tab"
               aria-controls="english-localization" aria-selected="true">
                @Localizer["EnglishCulture"]
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#russian-localization" role="tab"
               aria-controls="russian-localization" aria-selected="false">
                @Localizer["RussianCulture"]
            </a>
        </div>
    </nav>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="english-localization" role="tabpanel">
            <div class="form-group">
                <label class="font-weight-bold" asp-for="ModifyGameViewModel.Name">@Localizer["Name"]</label>
                <input asp-for="ModifyGameViewModel.Name" class="form-control">
                <span asp-validation-for="ModifyGameViewModel.Name"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="ModifyGameViewModel.Description">@Localizer["Description"]</label>
                <textarea asp-for="ModifyGameViewModel.Description" class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="ModifyGameViewModel.QuantityPerUnit">@Localizer["QuantityPerUnit"]</label>
                <input asp-for="ModifyGameViewModel.QuantityPerUnit" class="form-control">
            </div>
        </div>
        <div class="tab-pane fade" id="russian-localization" role="tabpanel">
            <input type="hidden" asp-for="ModifyGameViewModel.GameLocalization.Id">
            <input type="hidden" asp-for="ModifyGameViewModel.GameLocalization.GameId" value="@Model.ModifyGameViewModel.Id">
            <input type="hidden" asp-for="ModifyGameViewModel.GameLocalization.CultureName" value="@Culture.Ru">
            <div class="form-group">
                <label class="font-weight-bold" asp-for="ModifyGameViewModel.GameLocalization.Name">@Localizer["Name"]</label>
                <input asp-for="ModifyGameViewModel.GameLocalization.Name" class="form-control">
                <span asp-validation-for="ModifyGameViewModel.GameLocalization.Name"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="ModifyGameViewModel.GameLocalization.Description">@Localizer["Description"]</label>
                <textarea asp-for="ModifyGameViewModel.GameLocalization.Description" class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="ModifyGameViewModel.GameLocalization.QuantityPerUnit">@Localizer["UnitsOnOrder"]</label>
                <input asp-for="ModifyGameViewModel.GameLocalization.QuantityPerUnit" class="form-control">
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-around">
        <div class="form-group">
            <label class="font-weight-bold">@Localizer["SelectGenres"]</label>
            @Html.CheckBoxList(
                Model.GameSelectionDataViewModel.Genres,
                Model.ModifyGameViewModel.SelectedGenres,
                "ModifyGameViewModel.SelectedGenres",
                "genres")
        </div>
        <div class="form-group">
            <label class="font-weight-bold">@Localizer["SelectPlatforms"]</label>
            @Html.CheckBoxList(
                Model.GameSelectionDataViewModel.Platforms,
                Model.ModifyGameViewModel.SelectedPlatforms,
                "ModifyGameViewModel.SelectedPlatforms",
                "platforms")
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-lg btn-outline-primary">@Localizer["UpdateButton"]</button>
    </div>
</form>

@section Scripts {
    <script type="text/javascript" src="~/js/treeViewChangeScripts.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
}