@model CommentViewModel
@inject IViewLocalizer Localizer

@{
    var random = new Random();
    const int maxStarsCount = 5;
    const int maxAvatarsCount = 6;
    var positiveStarsCount = random.Next(maxStarsCount);
    var negativeStarsCount = maxStarsCount - positiveStarsCount;
}

<section class="comment">
    <div class="d-flex">
        <div class="image-wrapper">
            <img src="@($"/img/Game/Details/{random.Next(1, maxAvatarsCount)}.png")" alt="avatar">
        </div>
        <div class="comment-content" id="@Model.HtmlId">
            <header class="d-flex justify-content-between align-items-center">
                <div>
                    <h3 class="user-name">@Model.Name</h3>
                    <span class="comment-date">Fake date</span>
                </div>
                @if (string.IsNullOrEmpty(Model.ParentId))
                {
                    <div>
                        @for (var i = 0; i < positiveStarsCount; i++)
                        {
                            <img class="star" src="~/img/Game/Details/Star.svg" alt="positive-star"/>
                        }

                        @for (var i = 0; i < negativeStarsCount; i++)
                        {
                            <img class="star" src="~/img/Game/Details/Star grey.svg" alt="negative-star"/>
                        }
                    </div>
                }
            </header>
            <main class="comment-body">
                @if (Model.QuoteText != null)
                {
                    <p class="quote-text">
                        @Model.QuoteText
                    </p>
                }
                <p>@Model.Body</p>
            </main>
            <footer class="d-flex justify-content-between">
                <div>
                    <a href="#" class="application-link">
                        @Localizer["Like"]
                    </a>
                    @if (User.IsAllowedPermission(Permissions.CreateComment))
                    {
                        <a asp-action="ReplyAsync" asp-controller="Comment" class="application-link reply-btn"
                           data-parent-id="@Model.Id" data-block-id="@Model.HtmlId">
                            @Localizer["Reply"]
                        </a>
                        <a asp-action="ReplyAsync" asp-controller="Comment" data-quote="true" class="application-link quote-btn"
                           data-parent-id="@Model.Id" data-block-id="@Model.HtmlId">
                            @Localizer["Quote"]
                        </a>
                    }
                </div>
                <div>
                    @if (User.IsAllowedPermission(Permissions.Ban))
                    {
                        <a asp-action="BanAsync" asp-controller="Account" asp-route-userId="@Model.UserId" class="application-link text-danger">
                            @Localizer["Ban"]
                        </a>
                    }
                    @if (User.IsAllowedPermission(Permissions.DeleteComment))
                    {
                        <button type="button" id="modalTrigger" class="application-link button-transparent text-danger ml-2"
                                data-toggle="modal" data-target="@($"#confirmDelete{Model.Id}")">
                            @Localizer["Delete"]
                        </button>
                    }
                </div>
                <div class="modal fade" id="@($"confirmDelete{Model.Id}")" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">@Localizer["Delete"]</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    @Localizer["Confirmation"]
                                </p>
                            </div>
                            <div class="modal-footer">
                                <form asp-action="DeleteAsync" asp-controller="Comment" asp-route-id="@Model.Id">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Close"]</button>
                                    <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            @if (Model.Children != null)
            {
                foreach (var reply in Model.Children)
                {
                    <div class="reply"></div>
                    <partial name="DisplayComment" model="@reply"/>
                }
            }
        </div>
    </div>
</section>